
<div class="single-cont-container">
<div class="panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <h1 class="panel-title">Contact Detail</h1>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-success">Edit</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <h3> {{ contact.name}}</h3>
      </div>
      <div class="col-xs-6 text-right">
        <img [src]="contact.imgUrl" alt="{{contact.name}}" class="contact-image">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>{{contact.email}}</p>
        <p>{{contact.phone}}</p>
      </div>
    </div>
  </div>
</div>
</div>
